<form #editForm="ngForm" id="editForm" (ngSubmit)="updatePassword()">
  <div class="form-group">
    <label for="currentPassword">Current Password</label>
    <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" [(ngModel)]="user.currentPassword">
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" [(ngModel)]="user.newPassword">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="user.confirmPassword">
  </div>
  <button class="btn btn-success" [disabled]="!editForm.dirty">Save Changes</button>
</form>