<div class="row border shadow mt-3">
  <div class="col post">
    <div class="card">
      <div class="card-header text-center">
        <button class="btn btn-link" (click)="openEditor()" [disabled]="animationState === 'in'"><span class="h3">New Post</span></button>
      </div>
    </div>
  </div>
</div>

<div class="row border shadow mt-3 mb-3" [@slideInOut]="animationState">
  <div class="col post">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-12 col-sm-3">
              <button class="btn btn-link" *ngIf="!cropping" [disabled]="images.length >= 5 || submitting" (click)="openFileSelector()"><span><i class="far fa-images fa-2x"></i></span></button>
              <button class="btn btn-link" *ngIf="!cropping" [disabled]="submitting"><span><i class="fas fa-globe-americas fa-2x"></i></span></button>
          </div>
          <div class="col" *ngIf="!submitting">
            <img class="mr-1 mb-1 img-preview" *ngFor="let image of images" (click)="removeImage(image)" [src]="image">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ngx-croppie #ngxCroppie *ngIf="croppieImage" [imageUrl]="croppieImage" [croppieOptions]="croppieOptions" (result)="updateCroppie($event)"></ngx-croppie>
          </div>
        </div>
        <div class="row" *ngIf="cropping">
          <div class="col text-center">
            <button class="btn btn-link mr-2" (click)="rotateCounterClockwise()"><i class="fas fa-undo"></i></button>
            <button class="btn btn-link text-success mr-2" (click)="submitCropper()"><i class="far fa-check-square fa-2x"></i></button>
            <button class="btn btn-link text-warning mr-2" (click)="closeCropper()"><i class="far fa-times-circle fa-2x"></i></button>
            <button class="btn btn-link" (click)="rotateClockwise()"><i class="fas fa-undo fa-flip-horizontal"></i></button>
          </div>
        </div>
        <textarea class="form-control" *ngIf="!cropping && !submitting" rows="7" [(ngModel)]="content"></textarea>
        <div class="row mt-2" *ngIf="!cropping">
          <div class="col">
            <button type="button" class="btn btn-primary mr-2" (click)="submitPost()" [disabled]="submitting"><span>Submit</span><i class="fa fa-spinner fa-spin ml-2" *ngIf="submitting"></i></button>
            <button type="button" class="btn btn-warning mr-2" (click)="closeEditor()" [disabled]="submitting">Cancel</button>
            <span *ngIf="uploading && images.length">Uploading {{uploading}}/{{images.length}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input #fileInput class="hidden" type="file" (change)="fileChangeListener($event)">
<canvas #canvas class="hidden"></canvas>