<app-user-detail></app-user-detail>

<div class="container">
  <div class="row border shadow mt-3 mb-3" *ngFor="let followed of following">
    <div class="col post">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-3 col-sm-2 col-md-2 col-lg-1">
              <img class="img-fluid" src="{{followed.profileImageUrl}}" />
            </div>
            <div class="col-6 col-sm-8 col-md-8 col-lg-10">
              <div class="row">
                <div class="col">
                  <h5>{{ followed.displayName }}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a [routerLink]="['/u/', followed.username]"><i>{{ followed.username }}</i></a>
                </div>
              </div>
            </div>
            <div class="col-3 col-sm-2 col-md-2 col-lg-1">
                <app-user-follow-button *ngIf="currentUser" [sourceUser]="currentUser" [targetUser]="followed"></app-user-follow-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
