<div class="row mb-3">
  <div class="col">
    <input type="file" class="d-none" #fileInput ng2FileSelect [uploader]="uploader" />
    <button class="btn btn-outline-info" type="button" (click)="inputClick()">Select New Image</button>
  </div>
</div>

<div class="row mb-3" *ngIf="uploader?.queue?.length">
  <div class="col">
    <button type="button" class="btn btn-success btn-small mr-2" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Submit</button>
    <button type="button" class="btn btn-warning btn-small" (click)="uploader.clearQueue(); setPreviewUrl('');" [disabled]="!uploader.queue.length">Clear</button>
  </div>
</div>

