<input #fileInput class="hidden" type="file" (change)="fileChangeListener($event)">
<canvas #canvas class="hidden"></canvas>

<div class="row">
  <div class="col">
    <button class="btn btn-outline-info" type="button" *ngIf="!cropping" (click)="launchEditor()">Select New Image</button>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <ngx-croppie #ngxCroppie *ngIf="croppieImage" [imageUrl]="croppieImage" [croppieOptions]="croppieOptions" (result)="updateCroppie($event)"></ngx-croppie>
  </div>
</div>

<div class="row" *ngIf="cropping">
  <div class="col text-center">
    <button class="btn btn-success btn-small mr-2" (click)="submit()">Submit</button>
    <button class="btn btn-warning btn-small" (click)="cancelEditor()">Clear</button>
  </div>
</div>